In [ ]:
## Importacion de datos

In [1]:
import ftplib

In [2]:
# Abrir la conexión FTP
ftp = ftplib.FTP('tickdata.darwinex.com', 'Zero1140', 'd31VEa7MS46fUb')
# Descargamos el fichero
ftp.retrbinary("RETR /AAPL/AAPL_BID_2022-06-27_17.log.gz" ,open("Apple.log", 'wb').write)

'226-File successfully transferred\n226 0.062 seconds (measured here), 509.42 Kbytes per second'

In [3]:
import gzip
import pandas as pd

# Abrimos el fichero con los logs
with open('Apple.log', 'rb') as fd:
		# Descomprimos el fichero
    gzip_fd = gzip.GzipFile(fileobj=fd)
		# Metemos los datatos en un dataframe
    df = pd.read_csv(gzip_fd,names=["Date","Price","Size"])

In [4]:
df['Date'] = pd.to_datetime(df['Date'],unit='ms')

In [5]:
df

                        Date   Price   Size
0    2022-06-27 17:00:00.528  142.54  200.0
1    2022-06-27 17:00:00.632  142.57  100.0
2    2022-06-27 17:00:00.736  142.55  300.0
3    2022-06-27 17:00:00.838  142.56  100.0
4    2022-06-27 17:00:00.940  142.55  300.0
...                      ...     ...    ...
5929 2022-06-27 17:59:46.495  141.69  300.0
5930 2022-06-27 17:59:46.999  141.68  500.0
5931 2022-06-27 17:59:53.635  141.69  300.0
5932 2022-06-27 17:59:54.038  141.68  500.0
5933 2022-06-27 17:59:54.846  141.67  124.0

[5934 rows x 3 columns]